frontend/images/Ring.png filter=lfs diff=lfs merge=lfs -text
frontend/images/Spark.png filter=lfs diff=lfs merge=lfs -text
frontend/images/Cloud.png filter=lfs diff=lfs merge=lfs -text
frontend/images/Flame.png filter=lfs diff=lfs merge=lfs -text
frontend/images/Gem.png filter=lfs diff=lfs merge=lfs -text
frontend/images/Goblet.png filter=lfs diff=lfs merge=lfs -text
frontend/images/Helm.png filter=lfs diff=lfs merge=lfs -text
frontend/images/Crown.png filter=lfs diff=lfs merge=lfs -text
frontend/images/Diamond.png filter=lfs diff=lfs merge=lfs -text
